.container {
    padding: 30px;
    background-color: #f7f7f7;
    display: grid;
    gap: 20px;
    grid: 
        "main propaganda" 56px
        "main suggestedVideos" 1fr
        / 1fr 270px;
    margin-top: 2.3rem;
}

.smallVideo {
    background-color: plum;
    width: 101px;
    height: 71px;
}

.videoMain {
    background-color: rgb(148, 133, 133);
    width: 543px;
    height: 217px;
    margin-bottom: 12px;
    width: 100%;
}

.videoMainInformations .highlightVideoTitle {
    font-size: 18px;
    margin-bottom: 7px;
}

.videoMainInformations .videoVisualizations {
    font-size: 14px;
    margin-bottom: 7px;
}

.propaganda {
    grid-area: propaganda;
    background-color: chocolate;
}

.suggestedVideos {
    grid-area: suggestedVideos;
}

.suggestedVideos li {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.suggestedVideos li h2 {
    font-size: 14px;
    margin-bottom: 5px;
}

.suggestedVideos li p {
    font-size: 11px;
    margin-bottom: 5px;
}